<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://tpdc.co.tz">
                        TPDC
                    </a>
                </li>
                <li>
                    <a href="https://tpdc.co.tz/aboutus.php">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://tpdc.co.tz/blog.php">
                        Blog
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="https://www.ega.go.tz" target="_blank">eGovernment Authority</a>.
        </div>
    </div>
</footer>
